@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff&family=Fira+Code:wght@300..700&family=Fira+Sans+Condensed&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Heebo:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto:wght@700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Fira Sans;
}
body {
  background-color: #f5f5f5;
}

/*......... Shared Styles......... */

.btn-primary {
  background-color: #f30200;
  padding: 17px 34px 17px 34px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: background-color 0.5s ease, color 0.5s ease;
}
.btn-primary:hover {
  background-color: #fff;
  color: #f30200;
  border: 1px solid #f30200;
}

.section-title {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}

.section-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  line-height: 24px;
}

/* .......Nav style......... */
.nav-btn-right {
  padding: 15px 30px 15px 30px;
  border: 1px solid #f30200;
  border-radius: 8px;
  background: transparent;
  color: #f30200;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.nav-btn-right:hover {
  background-color: #f30200;
  color: #fff;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav > ul > li {
  color: rgb(14, 14, 14);

  font-size: 32px;
  font-weight: 700;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  max-width: 1380px;
  margin: 0 auto;
  padding: 25px 0;
}
/*...... Main section ......*/
main {
  max-width: 1380px;
  margin: 0 auto;
}

/* .......Banner Section ..........*/

.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e2c7c7;
  padding: 80px 100px 80px 100px;
  border-radius: 24px;
}

.banner-text > p {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.banner-text h2 {
  color: rgb(14, 14, 14);
  padding: 20px 0;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1px;
}

/*............ The Vision of Future....... */
.the-vision-of-future {
  padding: 50px 0;
}
.the-vision-of-future > p {
  padding: 30px 0;
}
.vision-cards {
  display: flex;
  gap: 24px;
}
.card {
  width: 410.67px;
  height: 250px;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-one {
  background-color: #cae2c7;
}
.card-two {
  background-color: #e2c7c7;
}
.card-three {
  background-color: #e1e2c7;
}
.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
}
.card-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.card-btn {
  border: none;
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  bottom: 0;
}
.card-one-btn-bg {
  background-color: #7be26d;
}
.card-one-btn-bg:hover {
  background-color: #1deb02;
}
.card-two-btn-bg {
  background-color: #e67878;
}
.card-two-btn-bg:hover {
  background-color: #f30200;
}
.card-three-btn-bg {
  background-color: #e3e774;
}
.card-three-btn-bg:hover {
  background-color: #e0e706;
}

/* .........Qoute section....... */

.yunus-section {
  background-color: #ffffff;
  border: 1px solid #0e0e0e26;
  border-radius: 16px;
  padding: 30px 24px 30px 24px;
  position: relative;
  margin-bottom: 40px;
}

.yunus-content img {
  /* background-image: url("/assets/quote-bg.png") ;
  background-repeat: no-repeat;
  background-position: top left; */
  /* margin-bottom: -40px; */
  position: absolute;
}
.yunus-content-description {
  padding: 28px 0;
  color: #0e0e0ecc;
  font-size: 16px;
  line-height: 24px;
}
.yunus-content h5 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
}

/* ...
...latest-news-section....
... */

.latest-news-section {
  padding: 15px 0 0 0;
}
.latest-news-section h2 {
  padding-bottom: 20px;
}
.news-content {
  display: flex;
  background-color: #fff;
  border-radius: 24px;
  padding: 48px;
  gap: 30px;
  margin-top: 30px;
}
.news-content-img > img {
  border-radius: 24px;
  height: 306px;
  width: 408px;
}
.news-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.news-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
}
/* Donate section */
.donate-titl-and-description {
  text-align: center;
  margin-top: 40px;
}
.donate-titl-and-description h2 {
  padding: 20px 0;
}
.donate-amount {
  display: flex;
  justify-content: space-between;
}
.donate-box {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: #ffffff;
  padding: 40px;
  color: #0e0e0ecc;
  font-size: 40px;
  font-weight: 700;
  margin: 0px 24px;
}
.donate {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.donate input {
  padding: 20px 400px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}
.donate input::placeholder {
  color: #0e0e0e4d;
  font-size: 20px;
}
.selected-box {
  background-color: #f3c1c1;
}

/* Newsletter section */
.newsletter {
  text-align: center;
  padding: 80px 100px 80px 100px;
  margin: 80px 0px;
  border-radius: 24px;
  background-color: #e2c7c7;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter-input {
  border-radius: 8px 0px 0px 8px;
  width: 600px;
  padding: 18px 40px 18px 40px;
  border: none;
}
.newsletter-button {
  border-radius: 0px 8px 8px 0px;
  padding: 15px 34px;
  color: #ffffff;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  background-color: #f30200;
  margin-left: -4px;
  border: none;
}

.newsletter-button:hover {
  background-color: #910404;
}